.rendu {
    color: green;
}

.nonRendu{
    color: red;
}

.form {
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.container {
    display:flex;
    flex-direction:column;
}

.ajouterBtn{
  align-self: flex-end;
}

.paginationBtn{
    align-self: center;
}

button{
  margin: 10px;
  background-color: rgb(152, 225, 167);
  color: black;

  box-shadow: 2px 3px rgb(76, 112, 83, 0.25);
}

.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
.main-card{
    width:95%;
}
