#profile-img{
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-control{
  margin-left: 10px;
  border-radius: 10px;
}

button{
  margin: 10px;
  border-radius: 8px;

  box-shadow: 2px 3px rgb(11, 22, 10, 0.25);
}

.main-div{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card{
  text-align: center;
  width:20%;
}

