<div class="main-div"> 
  <mat-card class="main-card">
    <div *ngIf="assignment">
      <mat-card-header>
        <h1>Edition de l'assignment {{assignment.nom}}</h1>
      </mat-card-header>
      <mat-card-content>
        <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
          <mat-form-field appearance="outline">
            <mat-label>Edition du nom</mat-label>
            <input matInput [(ngModel)]="nomAssignment" name="assignment-name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Edition de la date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Edition de la note</mat-label>
            <input matInput [(ngModel)]="note" name="note">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Edition de la remarque</mat-label>
            <textarea matInput [(ngModel)]="remarque" name="remarque"></textarea>
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu)||(!remarque)||(!note))">
            Sauver
          </button>

        </form>
      </mat-card-content>
    </div>
  </mat-card>   
<div class="main-div"> 
