<mat-toolbar color="primary">
  <nav>
    <mat-toolbar-row>
      <button mat-mini-fab color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <span class="title">{{title}}</span>

      <span class="spacer"></span>

      <div *ngIf="isLoggedIn">
        <span>Bonjour {{ username }}</span>
        <button id="logout" mat-raised-button color="Accent" (click)="logout()">Deconnexion</button>
      </div>

      <div *ngIf="isUser">
        <button mat-raised-button color="Accent" routerLink="/add">
          Ajouter Assignment
        </button>
      </div>

      <div *ngIf="!isLoggedIn">
        <button mat-raised-button color="Accent" routerLink="login">Login</button>
        <button mat-raised-button color="Accent" routerLink="register">Register</button>
      </div>
      <div *ngIf="isAdmin">
        <button mat-raised-button color="Warn" (click)="peuplerBD()">Peupler BD</button>
      </div>
    </mat-toolbar-row>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

